#root {
	text-align: center;
	min-height: 100vh;
}

.appContainer {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.navbarWrapper {
	height: 60px;
	position: sticky;
	top: 0;
}

.homeWrapper {
	flex: 1;
}